.spacer{
	width: 100%;
	height: 2%;
}
.logo{
	font-family: 'Lucida Bright', Georgia, serif;
	font-size: 60px;
	text-align: center;
	height: 10%;
	color: #eb8200;
	background-color: #d7d7d7;
	padding-bottom: 2px;
}
.playerContainer{
	width: 100%;
}
.queueContainer{
	font-family: 'Lucida Bright', Georgia, serif;
	font-size: 60px;
	text-align: center;
	color: #eb8200;

	width: 100%;
	height: 22%;
	padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid black;
    background-color: transparent;

}
body {
  background-color: #FFFFFF;
}